<% extends "template.html" %>

<% block title %>Imperium<% endblock %>

<% block content %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
              <h1>Rooms</h1>
            </div>
            <div style="text-align: center">
                <div class="btn-group btn-group-lg">
                    <a class="btn btn-success" href="create">Create Room</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
              <h1>How to play</h1>
            </div>
            <p>
                Imperium is a game for 2-4 players. Your objective is to move your
                king to the golden square in the middle.
                The players are assigned a random color, and take turns to make moves,
                following the order: Red, Green, Blue, Yellow.
            </p>
            <p>
                There are three unity types: King, Thief and Warrior.
            </p>
            <h3>Movement</h3>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/tutorial/warrior_movement.png" alt="Warrior" />
                        <div class="caption">
                            <h3>Warrior</h3>
                            <p>
                                Warriors move horizontally and vertically
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/tutorial/thief_movement.png" alt="Thief" />
                        <div class="caption">
                            <h3>Thief</h3>
                            <p>
                                Thieves move diagonally
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="/images/tutorial/king_movement.png" alt="King" />
                        <div class="caption">
                            <h3>King</h3>
                            <p>
                                Kings move like warriors
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/tutorial/capturing.png" alt="Capturing" />
                        <div class="caption">
                            <p>
                                <h3>Capturing</h3>
                                You can capture wherever you can move
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/tutorial/tree.png" alt="Tree" />
                        <div class="caption">
                            <p>
                                <h3>Terrain</h3>
                                You cannot move or attack into tree tiles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Power Moves</h3>
            <p>
                Whenever one of your units (but not your king!) gets into the golden
                square, you can perform a power move. First, you select one enemy unity
                to destroy. You can't destroy kings, of course! Next, you select an
                allied unit and place a tree under it. This unit is now invulnerable
                to attacks, but can still attack. <b>If you move, you cannot go back
                on top of the tree!</b>
            </p>
            <p>
                <b>Each unit can only activate this power once!</b> They gain a small
                white circle on the top left to show they can't activate it again.
            </p>

            <h3>Eliminating</h3>
            <p>
                If your king is killed, you are out of the game, and all your units
                are destroyed.
            </p>

            <h3>Winning</h3>
            <p>
                You win by moving your king into the golden saquare or by killing
                every enemy king.
            </p>

            <h3>Notation</h3>
            <p>
                While playing, the game will display the moves in this notation:
            </p>
            <p>
                <b>Normal moves:</b> <code>c3d2</code><br>
                <b>Captures:</b> <code>c3d2!</code><br>
                <b>Power moves:</b> <code>e4e5*a2$e3+</code> (move to, kill, create tree)<br>
                <b>Power moves (with capture):</b> <code>e4e5!*a2$e3+</code> (capture, kill, create tree)<br>
                <b>Elimination:</b> <code>c3d2!-</code><br>
                <b>Win:</b> <code>e4e5#</code><br>
            </p>
            <p>
                This is the full board state notation: <code>@a1:k1 @a2:t1 @b2:w1 @d3+ @e8+</code><br>
            </p>
            <p>

                The first three describe unit location: k = king, t = thief, w = warrior, followed by the unit's owner (1-based).
                Next is a list of trees.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Based on a Minecraft map by
            <a href="http://www.minecraftforum.net/forums/mapping-and-modding/maps/2699412-imperium-a-2-4-players-chess-like-minigame">
                Pollieboy and Vilder50
            </a>
        </div>
    </div>
</div>
<% endblock %>
