<% extends "template.html" %>

<% block title %>Imperium<% endblock %>

<% block headerScripts %>
    <script type="text/javascript">
        window.roomID = "<$ roomID $>";
    </script>
    <script type="text/javascript" src="/javascripts/join.js"></script>
<% endblock %>

<% block nav %>
    <li><a>Lobby #<$ roomID $></a></li>
<% endblock %>

<% block content %>
<div class="container" ng-controller="Lobby as lobby">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat</h3>
                </div>
                <div class="panel-body">
                    This will eventually be a chat room
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Players</h4>
            <ul class="list-group" ng-if="lobby.players.length > 0">
                <li class="list-group-item" ng-repeat="player in lobby.players">{{player}}</li>
            </ul>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="lobby.changeRole()">Join</button>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn" ng-click="lobby.startGame()"
                        ng-class="{
                            'btn-success': lobby.canStart(),
                            'btn-danger': !lobby.canStart()
                        }" ng-disabled="!lobby.canStart()">Start</button>
                </div>
            </div>
        </div>
    </div>
</div>
<% endblock %>
