<% extends "template.html" %>

<% block title %>User Profile - Imperium<% endblock %>

<% block content %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
              <h1>User Settings</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="" method="post">
                <div class="input-group">
                    <span class="input-group-addon">Username:</span>
                    <input type="text" class="form-control" placeholder="" name="username" value="<$ user.username $>">
                </div>
                <br>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<% endblock %>
